:root {
	/* --cardw: 30em; */
	--cardm: 1em;
	--maincolor: #ffffff;
	--accentcolor: #620ad5;
}

body {
	color: var(--maincolor);
	background: #ffff5e;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.card {
	text-align: center;
	min-width: 15em;
	min-height: 20em;
	max-height: 20em;
	margin: var(--cardm);
	/* border: 2px solid #fff; */
	/* flex-basis: var(--cardw); */
	padding: calc(var(--cardm)) calc(var(--cardm)) var(--cardm) var(--cardm);
	/* oben,rechts,links, unten  */
	border-radius: calc(var(--cardm) * 0.5);
	box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.54);
	background-color: #620ad5;
	display: flex;
	flex-direction: column;

}



.card h3 {
	color: var(--maincolor);
	font-size: 1.5em;
	line-height: 1em;
	margin: 0em;
	text-transform: uppercase;
}

.card p {
	font-size: 0.9em;
	line-height: 1.4em;
}

.button {
	background-color: var(--maincolor);
	font-weight: 700;
	letter-spacing: 2px;
	border: none;
	color: black;
	padding: 0.7em 1.2em;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: calc(var(--cardm) * 0.5);
	text-transform: uppercase;
	margin-top: 1em;
}

.card button:hover {
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.73);
	transform: translateY(-2px);
	border-radius: 0.5em;
}



@media (max-width: 786px) {
	.wrapper {
		flex-direction: column;
	}
	.card {
		max-width: 100%;
		padding: 1em;
		background-image: none !important;
		box-shadow: none;
		display: inline-block;
	}
}


